{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>{% block title %}Base{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    {% if nav %}
      <nav class="navbar navbar-light bg-light sticky-top">
        <span class="open-btn" onclick="toggleSidebar()">
          <i class="fas fa-bars"></i>
        </span>
        <span class="navbar-brand mb-0 h1">Classmate</span>
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="fas fa-user-circle"></i>
          </button>
          <div
            class="dropdown-menu dropdown-menu-right"
            aria-labelledby="dropdownMenuButton"
          >
            <a class="dropdown-item" href="#">Profile</a>
            <a class="dropdown-item" href="{% url 'logout_page' %}">Logout</a>
          </div>
        </div>
      </nav>
      <div id="sidebar" class="sidebar">
        <a href="/home/" class="text-decoration-none">Home</a>
        <a href="#" class="text-decoration-none">Calendar</a>
        <div class="toggle-menu" onclick="toggleNestedMenu('teachingMenu', this)">
          Teaching <i class="fas fa-chevron-down"></i>
        </div>
        <div id="teachingMenu" class="nested-menu">
          {% for classroom in Teaching %}
          <a href="{% url 'classroom' classroom.teaching_class.class_id %}" class="text-decoration-none">{{classroom.teaching_class.class_name}}</a>
          {% endfor %}
        </div>
        <div class="toggle-menu" onclick="toggleNestedMenu('enrolledMenu', this)">
          Enrolled <i class="fas fa-chevron-down"></i>
        </div>
        <div id="enrolledMenu" class="nested-menu">
          {% for classroom in Enrolled %}
          <a href="{% url 'classroom' classroom.enrolled_class.enrolled_class.class_id %}" class="text-decoration-none">{{classroom.enrolled_class.enrolled_class.class_name}}</a>
          {% endfor %}
        </div>
        <a href="#" class="text-decoration-none">To review</a>
        <a href="#" class="text-decoration-none">Archived classes</a>
        <a href="#" class="text-decoration-none">Settings</a>
      </div>
    {% endif %}
    {% block start %}{% endblock %}
    
    <script src="{% static 'js/app.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
