{% extends "base.html" %} {% block start %}

<div
  class="container d-flex align-items-center justify-content-center"
  style="min-height: 100vh"
>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h3 class="text-center">Login to Class-Mate</h3>
        {% if messages %}
          <ul class="messages">
            <div class="alert alert-primary" role="alert">
              {% for message in messages %}
              <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                {{ message }}
              </li>
              {% endfor %}
            </div>
          </ul>
        {% endif %}
        <form class="col-6 mx-auto" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              placeholder="Enter username"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder="Enter password"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">Login</button>
          <div class="text-center mt-3">
            <p>
              Don't have an account?
              <a href="{% url 'signup_page' %}">Sign Up</a>
            </p>
            <p><a href="/forgot-password">Forgot Password?</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}