{% extends "base.html" %} {% block start %}

<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
        class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form method="post" enctype="multipart/form-data">
          {% if messages  %}
            {% for message in messages %}
              {% if message.tags %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
              {% else %}
                <div class="alert alert-primary" role="alert">
                  {{ message }}
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}
          {% csrf_token %}
          <!-- Email input -->
          <div data-mdb-input-init class="form-outline mb-4 d-flex fles-row">
            <input type="text" id="form3Example3" class="form-control form-control-lg"
            name="first_name" required
              placeholder="Enter your first name" />
            &nbsp;
            &nbsp;
            <input type="text" id="form3Example3" class="form-control form-control-lg"
            name="last_name"  placeholder="Enter your last name" />
          </div>
          <div data-mdb-input-init class="form-outline mb-4">
            <input type="text" id="form3Example3" class="form-control form-control-lg"
            name="username"  placeholder="Enter your Username" />
          </div>
          <div data-mdb-input-init class="form-outline mb-4">
            <input type="email" id="form3Example3" class="form-control form-control-lg"
            name="email" required placeholder="Enter your Email" />
          </div>

          <div data-mdb-input-init class="form-outline mb-3">
            <input type="password" id="form3Example4" class="form-control form-control-lg"
            name="password" required placeholder="Enter password" />
          </div>
          <div data-mdb-input-init class="form-outline mb-3">
            <input type="password" id="form3Example4" class="form-control form-control-lg"
            name="confirm_password" required  placeholder="Repeat password" />
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button  type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Register</button>
            <p class="fw-bold mt-2 pt-1 mb-0">Already have an account? <a href="{% url 'login_page' %}"
                class="link-danger">Login</a></p>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>


{% endblock %}
