{% extends "base.html" %}
{% block title %}
    Create Exam
{% endblock %}

{% block navigation %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" href="#">{{classroom.class_name}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/home/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Examroom</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Peoples</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block start %}

<div class="container-sm mt-5">

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <input class="form-control" type="text" placeholder="Exam Title" name="exam_title" aria-label="default input example" required>
        </div>
        <div class="mb-3">
            <textarea class="form-control" id="instruction" rows="3" placeholder="Enter Instructions" name="instructions"></textarea> 
        </div>
        <div class="mb-3">
            <label for="eventDateTime">Starting Time:</label>
            <input type="datetime-local" name="starting_time" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="eventDateTime">Ending Time:</label>
            <input type="datetime-local" name="ending_time" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="eventDateTime">Duration Hours:</label>
            <input type="number" name="duration_hours" class="form-control">
        </div>
        <div class="mb-3">
            <label for="eventDateTime">Duration Mintutes:</label>
            <input type="number" name="duration_minutes" class="form-control">
        </div>
        <div class="mb-3">
            <label for="eventDateTime">Duration Seconds:</label>
            <input type="number" name="duration_seconds" class="form-control">
        </div>
        <div class="form-group d-flex justify-content-center">
            <button type="submit" class="btn btn-outline-primary">Proceed</button>
        </div>
    </form>

</div>


{% endblock %}