{% extends "base.html" %}
{% block title %}
    Examroom
{% endblock %}
{% block start %}

<div class="container-sm mt-5">

    <form>
        
        <div class="mb-3">
            <input class="form-control" type="text" placeholder="Question" aria-label="default input example">
        </div>

        <div class="mb-3">
            <label for="formFile" class="form-label">Upload Image</label>
            <input class="form-control" type="file" id="formFile">
        </div>
        
        <div class="mb-3 options" id="options">
            <div class="mb-3">
            <input class="form-control" type="number" placeholder="Marks" aria-label="default input example">
        </div>
        </div>
        <button type="button" class="btn btn-primary btn-sm" onclick="addOptions()">Add Options +</button>
        <hr>
        <div>
            <button type="submit" class="btn btn-block btn-outline-primary">Add Question +</button>
            <button type="submit" class="btn btn-block btn-outline-success">Submit</button>
        </div>
    </form>

</div>

<script>
    function createCounter() {
    
        let count = 0; // This acts like a static variable

        return function() {
            count++;
            return count;
        }
    }

    const counter = createCounter();

    function addOptions()
    {
        var element = document.getElementById('options')
        element.innerHTML += `<input class="form-control mb-2" type="text" placeholder="Option ${counter()}" aria-label="default input example">`
    }
</script>
{% endblock %}